<!doctype html>
<html>
<head>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body>
  <div ng-app="NewsSentiment" ng-controller="mainController" style="text-align: center">
    <h1 ng-if="newsSentimentData <= 0.45" style="color: red">The News Is Negative</h1>
    <h1 ng-if="newsSentimentData > 0.45 && newsSentimentData < 0.55" style="color: yellow">The News Is Neutral</h1>
    <h1 ng-if="newsSentimentData >= 0.55" style="color: green">The News Is Positive<h1>
  </div>
</body>
</html>
